html {
  background-color: #afdaaf;
}

h1 {
  font-family: monospace;
  color: darkgreen;
  background-color: #3dd13d;
  padding: 20px;
  margin: 0;
}

p {
  color: #035903;
  font-weight: 800;
  font-size: 17px;
  font-family: monospace;
}

th {
  padding: 10px;
  background-color: #e5ffe5;
}

td {
  padding: 10px;
  background-color: #c8eec8;
}

table {
  border-spacing: 10px;
}